@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Rate All The Things</title>
    </head>
    <body>
        <div>
            Hai! 
        </div>
    </body>
</html>