<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SQLSERVER_CONNECTION_STRING" value=""/>
    <add key="SQLSERVER_CONNECTION_STRING_ALIAS" value=""/>
    <add key="SQLSERVER_URI" value=""/>
    <add key="GOOGLE_SEARCH_API_KEY" value=""/>
    <add key="HOPTOAD_API_KEY" value="" />
    <add key="Airbrake.ApiKey" value=""/>
    <add key="Airbrake.Environment" value="dev" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>