<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SQLSERVER_CONNECTION_STRING" value="Server=7f2bc721-b4dc-4f51-a9c2-9fc80128fe45.sqlserver.sequelizer.com;Database=db7f2bc721b4dc4f51a9c29fc80128fe45;User ID=wmpdhlcfrtmbawhp;Password=8JU6JuPhPYUWZeXQpwmRKTAxWFqdUjQ46JvzyWwHVCAANrvK5VWMNHaoiwiddLuE;"/>
    <add key="SQLSERVER_CONNECTION_STRING_ALIAS" value=""/>
    <add key="SQLSERVER_URI" value=""/>
    <add key="GOOGLE_SEARCH_API_KEY" value="AIzaSyDomFyrjllNh9yGWqYX6uHbxP631EgSey4"/>
    <add key="HOPTOAD_API_KEY" value="0afcbc05594e6567da16aca4df3e1776" />
    <add key="Airbrake.ApiKey" value="0afcbc05594e6567da16aca4df3e1776"/>
    <add key="Airbrake.Environment" value="dev" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>